<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>HealthSync needs access to your health data to provide personalized insights and track correlations between your activities and symptoms.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>HealthSync needs access to update your health data to help you track your health journey.</string>
</dict>
</plist>
