<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94952939819-toa2fi205uj3m4rrumqb5robimsd1r24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94952939819-toa2fi205uj3m4rrumqb5robimsd1r24</string>
	<key>API_KEY</key>
	<string>AIzaSyDUbk0bDM_rIUlMceC9ikfhBFasaIzbQgc</string>
	<key>GCM_SENDER_ID</key>
	<string>94952939819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phenotype.healthsync</string>
	<key>PROJECT_ID</key>
	<string>healthsync-4ca6a</string>
	<key>STORAGE_BUCKET</key>
	<string>healthsync-4ca6a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94952939819:ios:19ecc6e67ab38dd7a8256e</string>
</dict>
</plist>